{% extends 'base.html' %}

{% block content %}
<ul class="list-group">
  <li class="list-group-item">Игрок: {{object}}</li>
  <li class="list-group-item">АБИ: {{details.Турниры.abi}}</li>
  <li class="list-group-item">Сумма закупки: {{details.Турниры.sum}}</li>
  <li class="list-group-item">Выплаты: {{details.Выплаты.sum}}</li>
  <li class="list-group-item">Профит: {{details.Турниры.profit}}</li>
  <li class="list-group-item">Трансферы: {{details.Трансферы.sum}}</li>
</ul>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Tornaments" aria-expanded="false" aria-controls="Tornaments" style="margin-top: 10px;">
    Турниры по АБИ
  </button>
</p>
<div class="collapse" id="Tornaments">
<div id="accordion" >
{% for key, value in details.Турниры.items %}
{% if key != 'sum' and key != 'abi' and key != 'profit'%}
  <div class="card" style="margin-top: 5px;">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" 
        data-target="#{{key|cut:':'|cut:'-'|cut:' '|cut:'.'}}" aria-expanded="true" aria-controls="collapseOne">
          {{key}}
        </button>
      </h5>
    </div>

    <div id="{{key|cut:':'|cut:'-'|cut:' '|cut:'.'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Дата</th>
                <th scope="col">Действие</th>
                <th scope="col">Номер</th>
                <th scope="col">Игра</th>
                <th scope="col">Трансакции</th>
                <th scope="col">Тур.деньги</th>
                <th scope="col">Касса</th>
                <th scope="col">Получено коинов</th>
              </tr>
            </thead>
            {% for item in value %}
            <tbody>
              <tr>
                <td>{{item.date_played}}</td>
                <td>{{item.action}}</td>
                <td>{{item.action_number}}</td>
                <td>{{item.game}}</td>
                <td>{{item.summary}}</td>
                <td>{{item.t_money}}</td>
                <td>{{item.cashier}}</td>
                <td>{{item.get_s_coins}}</td>
               
              </tr>
            </tbody>
            {% endfor %}
          </table>
      </div>
    </div>

  </div>
  {% endif %}
  {% endfor %}
</div>
</div>
{% for key in details.keys %}
{% if key != 'Турниры'%}
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{key}}" aria-expanded="false" aria-controls="collapseExample">
    {% load player_filter %}
    {{key}}, сумма: {{details|get_item:key|get_item:'sum'}}
  </button>
</p>
<div class="collapse" id="{{key}}">
  <div class="card card-body">
            <table class="table">
            <thead>
              <tr>
                <th scope="col">Дата</th>
                <th scope="col">Действие</th>
                <th scope="col">Трансакции</th>
                <th scope="col">Касса</th>
              </tr>
            </thead>
            {% for object in details|get_item:key|get_item:'queryset' %}
                <tbody>
                <tr>
                    <td>{{object.date_played}}</td>
                    <td>{{object.action}}</td>
                    <td>{{object.summary}}</td>
                    <td>{{object.cashier}}</td>
                </tr>
                </tbody>
            {% endfor %}
          </table>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock content %}
    