{% extends 'base.html' %}

{% block content %}

<div id="accordion">
    {% for obj in obj_list %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#{{obj}}" aria-expanded="true" aria-controls="collapseOne">
            {{obj.pattern_name}}
            <a href="{{obj.del_absolute_url}}">
            <button type="button" class="btn btn-outline-dark">Удалить</button>
            </a>
            <a href="{{obj.create_body}}">
            <button type="button" class="btn btn-outline-dark">Добавить паттерн</button>
            </a>
          </button>
        </h5>
      </div>
  
      <div id="{{obj}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
        {% for item in obj.pattern_b.all %}
            <p class="card-text">
                {{item.pattern}}
            <a href="{{item.del_absolute_url}}">
            <button type="button" class="btn btn-outline-dark">Удалить</button>
            </a>
            <a href="{{item.remake_action_url}}">
            <button type="button" class="btn btn-outline-dark">Обновить записи</button>
            </a>
        </p>
        {% endfor %}
        </div>
      </div>
    </div>

{% endfor %}
</div>
<a href="{% url 'pattern:new-type' %}">
<button type="button" style='margin-top: 10px' class="btn btn-success">Новый тип паттерна</button>
</a>
{% comment %} <a href="{% url 'pattern:new-body' %}">
    <button type="button" class="btn btn-success">Новое тело паттерна</button>
    </a> {% endcomment %}
{% endblock content %}
